* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.firstnav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

#empty {
    float: left;
    display: block;
    max-width: 50vw;
    visibility: hidden;
}

.logo {
    text-align: center;
}

.loginnav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    float: right;
    padding: 2em 2em 1em 0em;
    list-style-type: none;
}

.loginnav a {
    text-decoration: none;
    color: white;
    padding-left: 1em;
    font-size: 18px;
}

.loginnav li a:hover {
    color: grey;
}

.mainnav {
    text-align: center;
    font-size: 32px;
    background-color: black;
}

.mainnav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: black;
    justify-content: space-evenly;
}

.mainnav a:hover {
    color: orange;
}

.topnav .icon {
    display: none;
}